body {
  background-color: #0f1724;
  color: white;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.head {
  text-align: center;
  margin-top: 1rem;
  background-image: linear-gradient(to right, #a21caf, #fb923c, #e879f9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.head-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.main-div {
  max-width: 25rem;
  width: 90%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 6px 20px rgba(2, 6, 23, 0.6);
}

.first-el {
  width: 100%;
  height: 25%;
  border: 1px solid orange;
  border-radius: 15px;
  background-color: #111;
}
.first-el-1,
.first-el-2 {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}
.first-el-1-p {
  margin: auto;
  font-size: medium;
  color: #7a7a7a;
}
.first-el-2-p {
  margin-right: 8px;
  margin-bottom: 2px;
  font-weight: bolder;
  font-size: xx-large;
  color: bisque;
}
.second-el {
  width: 100%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 0.4rem;
}

.calc-btn {
  aspect-ratio: 1 / 1; 
  font-size: clamp(0.8rem, 3vw, 1.2rem); 
  border-radius: 10px;
  margin: 0.5rem;
  box-shadow: 0 6px 20px rgba(2, 6, 23, 0.6);
  color: orange;
  background-color: #0f1724;
  border: none;
}


.madeby {
  background: linear-gradient(to left, #f97316, #22c55e, #3b82f6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (max-width: 300px) {
  .calc-btn {
    font-size: clamp(0.6rem, 4vw, 1rem);
    margin: 0.2rem;
  }
  .first-el-2-p {
    font-size: large;
  }
}
@media (max-width: 450px){
    h1{
        font-size: medium;
    }
}